/* TODO: refactor this into components? */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: white;
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #1a1a1a;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #47B5FF;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.answer-button {
  background-color: #3CCF4E;
}

input {
  width: 57%;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

input:hover {
  border-color: #47B5FF;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quote {
  background-color: #1a1a1a;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
}

.toggle {
  /* top: 3px; */
  margin: auto;
}

.key {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0 2px;
  margin-top: 2px;
  cursor: pointer;
}

.number {
  background-color: #2C394B;
}

.letter {
  background-color: #334756;
}

.keyboard {
  margin: auto;
}

.disabled {
  cursor: none;
  pointer-events: none;
}

.correct {
  background-color: #3CCF4E;
}

.incorrect {
  background-color: #cd3131;
}

.gameboard {
  background-color: #212121;
  border-radius: 10px;
  padding: 1em;
  margin: auto;
  width: 95%;
}

@media only screen and (min-width: 768px) {
  .gameboard {
    width: 45%;
  }
}

.hangman {
  width: 95%;
  height: 12em;
  object-fit: cover;
  border-radius: 10px;
}

.game-results-image {
  width: 95%;
  height: 10em;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}